@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;700&display=swap');
/* Color Palette 
HEX: #f0f0f0  fondo
HEX: #c5d5c5   git check
HEX: #9fa9a3  cards
HEX: #e3e0cc   buttons
*/
body{
    background-color:#f0f0f0;
    font-family: 'Ysabeau Infant', sans-serif;
}
/* PAGINA PRINCIPAL */
/* HEADER */
header{
    background-image: url(../img/FONDOheader.jpg);
    /* background-img; */
    width: 100%;
    height: 550px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 450px;
}
.container-header{
    background-color: #9fa9a3;
    width: 100%;
}
.navbar-header {
    display: flex;
    width: 100%;
    text-align: right;
}
.headerTitulo{
    padding: 0;
    margin: 50px;
}
.titulo{
    font-size: 100px;
}
.textoTitulo{
    font-size: 30px;
}
.LOGO{
    float: left;
    background-color: rgb(116, 150, 118);
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 20px;
}
.buttonMenu{
    display: none;
}
.ulnavbar{
    height: 100px;
    justify-content: end;
    align-items: end;
    
}
.nav-link{
    display: inline;
    font-size: 20px;
}
.nav-link a{
    margin: 7px;
    padding: 20px;
}
.divp{
    width: 100%;
    height: 30px;
    padding: 30px;
    margin: 10px;
    font-size: 25px;
}
/* MAIN cards */
#cards1{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 360px 360px;
    padding: 0;
    box-sizing: content-box;
}
.card2{
    background-color: #9fa9a3;
    margin: 10px;
    padding: 20px;
}
.card-body{
    width: 100%;
    height: 250px;
    margin: 10px;
    padding: 0px; 
    
}
.card-img{
    float: left;
    width: 170px;
    height: 170px;
    margin: 10px;
}
.title{
    width: 100%;
    font-size: 20px;
    height: 25px;
}
.card-Texto{
    height: 200px;
    padding: 10PX;
    margin: 0%;
    flex-direction: row;
    font-size: 20px;
} 
.cards{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card-bodylink{
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.button{
    background-color: #809c8c;
    border: none;
    width: 100%;
    height: 50px;
}
/* FOOTER */
footer{
    background-color: #00ff00;
    display: grid;
    grid-template-columns: 5fr 5fr;
    
}
.infoFooter{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 147, 15);
    align-items: center;
    justify-content: center;
}
.infoFooter h1{
    font-size: 30px;
}
.infoFooter p{
    font-size: 30px;
}

/* PAGINAS SECUNDARIAS */
header2{
    width: 100%;
    height: 550px;
    margin: 0;
    padding: 0;
}
/* .LOGO{
    float: left;
    background-color: #e3e0cc;
    height: 60px;
    width: 70px;
    padding: 50px;
    margin: 20px;
    align-content: center;
    justify-content: center;
}
.buttonMenu{
    display: none;
}
.ulnavbar{
    margin: 0;
    width: 100%;
    height: 100px;
}
.nav-link{
<<<<<<< HEAD
    display: inline;
    justify-content: end;
    align-items: end;
    margin: 10px;
    padding: 0px;
=======
    display: inline-block;
    background-color: #e3e0cc;
    padding: 20px;
>>>>>>> fa6286e95d806c253b545880e1ac9b90c95caabf
    font-size: 20px;
} */
/* @MEDIA QUERIES */
@media screen and (max-width: 800px){
    header{
        background-image: url(../img/FONDOheader.jpg);
        background-size: auto;
    }
    main{
        height: auto;
    }
    .headerTitulo{
        height: 350px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .titulo{
        font-size: 80px;
        margin: 10px;
    }
    .container-header {
        width: 100%;
    }
    .textoTitulo{
        font-size: 30px;
    }
    #navbarHeader{
        display: none;
        width: 100%;
    }
    .buttonMenu{
        display: contents;
        width: 100px;
        height: 100px;
    }
    .svg{
        margin: 20px;
        padding: 0;
        width: 60px;
        height: 60px;
    }
    #cards1{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 15px rgb (17, 17, 17);
        
    }
    .card-body{
        padding: 5px;
        flex-direction: row;
        margin: 5px;
    }
    .button{ 
    background-color: rgb(107, 141, 99);
    }
    footer{
        width: 100%;
        height: 200px;
    }
}
