@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;700&display=swap');
body{
    background-color: rgb(228, 222, 222);
}
/* PAGINA PRINCIPAL */
header{
    background-image: url(../img/FONDOheader.jpg);
    /* background-size: cover; */
    width: 100%;
    height: 550px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 450px;
}
.headerTitulo{
    padding: 0;
    margin: 50px;
}
.titulo{
    font-size: 100px;
    font-family: 'Ysabeau Infant', sans-serif;
    
}
.textoTitulo{
    font-size: 30px;
    font-family: 'Ysabeau Infant', sans-serif;
}
.LOGO{
    float: left;
    background-color: rgb(19, 14, 14);
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 20px;
}
.navbar-header {
    background-color: transparent !important;
    display: flex;
    width: 100%;
    text-align: right;
    }
.ulnavbar{
    margin: 0;
    width: 950px;
    height: 20px;
}
.nav-link{
    font-family: 'Ysabeau Infant', sans-serif;
    display: inline-block;
    
    padding: 20px;
    font-size: 20px;
}
/* cards */




/* PAGINAS SECUNDARIAS */
header2{
    width: 100%;
    height: 550px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 450px;
}
.LOGO{
    float: left;
    background-color: rgb(19, 14, 14);
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 20px;
}
.navbar-header {
    background-color: transparent !important;
    display: flex;
    width: 100%;
    text-align: right;
    }
.ulnavbar{
    margin: 0;
    width: 950px;
    height: 20px;
}
.nav-link{
    font-family: 'Ysabeau Infant', sans-serif;
    display: inline-block;
    
    padding: 20px;
    font-size: 20px;
}
/* cards */
#cards1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 10px;
    box-shadow: 0 0 15px rgb(24, 22, 22);
    background-color: rgb(197, 93, 93);
}
.cards div{
    text-align: center;
    font-size: 14px;
    background-color: blueviolet;
}
.cards h2{
    text-align: center;
    background-color: brown;
}

/* @MEDIA QUERIES */
@media screen and (max-width: 700px){
    header {
        background-image: url(../img/FONDOheader.jpg);
        background-size: 700px;
    }
    .headerTitulo{
        height: 350px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .titulo{
        font-size: 80px;
        margin: 10px;
    }
    .container-header {
        width: 100%;
    }
    .textoTitulo{
        font-size: 30px;
    }
    #navbarHeader{
        display: none;
    }
    .buttonMenu{
        display: contents;
        width: 100px;
        height: 100px;
        margin: 10px;
        padding: 0;
        border-radius:60px;
    }
    .svg{
        width: 60px;
        height: 60px;
    }
    #cards1{
        width: 100%;
        height: 50em;
        margin: 5px;
        padding: 5px;
        box-shadow: 0 0 15px rgb (17, 17, 17);
        display: flex;
        
    }
    .cards{
        background-color: rgb(29, 0, 110);
    }
    
}