/* PAGINAS SECUNDARIAS */
/* config texto completo pag2 */

#body2 {
    font-size: 22px;
    line-height: 1;
    background: linear-gradient(to bottom, #ceffe0, rgba(139, 235, 177, 0.779));
}
#header2 {
    height: 100px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.headerSecundario {
    width: 100%;
    height: 100px;
}
.buttonMenu {
    display: none;
}
.titulo-pag2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    .iconoPAG2{
        width: 150px;
        height: 150px;
        align-items: end;
    }
    .tituloPAG2 {
        font-size: 50px;
        margin: 0%; 
    }
}
.textoCompleto {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    li {
        list-style-type: none;
    }
    
}
.textoCONimg{
    margin: 5px;
    padding: 5px;
    .img-PAG2{
        width:400px;
        height:250px;
        padding: 0;
        margin: 0; 
        margin-right: 15px;
        float:  left;
        border-radius: 5px;
    }
    p{
        margin: 0;
        padding: 0;
    }
}
.tiposDEsuculentas{
    display: flex;
    flex-direction: column;
    .textoCONimg{
        padding: 10px;
        margin: 0px;

    }
}
#footer2 {
    background-image: url(../img/arbol-05\ \(1\).webp);
    background-size: 100%;
    display: flex;
    height: 390px;
    margin: 0;
    padding: 0;
    .imagenFOOTER{
        width: 100%;
    }
    .infoFooter2 {
        color: rgb(0, 0, 0);
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        font-size: 30px;
        .imgFooter {
            background-size: cover;
            height: 150px;
            width: 150px;
            padding: 3px;
        }
    }
}
/* GO-TOP */
.container-gotop {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .button-GOTOP {
        
        border: none;
        border-radius: 50%;
        background-color:rgba(73, 123, 194, 0.631);
        width: 100px;
        height: 100px;
        a {
            color: black;
            width: 100px;
            height: 100px;
        }
    }
}