@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;700&display=swap');
@import "pagSecundaria";
@import "mediaqueries";

/*valores*/
$color:  #8dd4fd;
$color-cards: #6faece;
$color-fondo: #c7e7f5;
$color-font: rgb(25, 24, 24);

body {
    background-color: $color-fondo;
    font-family: 'Ysabeau Infant', sans-serif;
    background: linear-gradient(to top, #00ddffb6, $color-fondo);
}
/* PAGINA PRINCIPAL */
/* HEADER */
header {
    background-image: url(../img/FONDOheader.jpg);
    background-size: cover;
    width: 100%;
    height: 550px;
    margin: 0;
    padding: 0;
}
.navbar-header {
    display: flex;
    width: 100%;
    height: 100px;
    
}
.container-header{
    width: 100%;
}   
.LOGO {
    float: left;
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 10px 10px 0 15px;
}
.ulnavbar {
    height: 90px;
    
    .nav-link {
        display: inline;
        height: 40px;
        
        a {
            text-decoration: none;
        font-size: 20px;
        margin: 10px 7;
        padding: 20px;
        border-radius: 10px;
        justify-content: end;
        align-items: end;
        }
}
}
.buttonMenu {
    display: none;
}    
.headerTitulo {
    padding: 0;
    margin: 50px;
    color: black;
    .titulo {
        font-size: 100px;
        
    }
    .textoTitulo {
        font-size: 30px;
    }
}
.divp {
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 10px;
    font-size: 25px;
}
/* MAIN cards */
#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}    
.card1{
    background-color: $color-cards;
    padding: 11px;
    margin: 5px;
    height: 450px;
    width: 530px;
    a{
        text-decoration: none;
    }
}
.card-body{
    color: rgb(17, 16, 16);
    margin: 0;
    padding: 0;
    .card-img {
        width: 200px;
        height: 200px;
    }
}

/* FOOTER */
footer {
    background-image: url(../img/FONDOheader.jpg);
    background-size: 100%;
    display: flex;
    height: 410px;
    margin: 0;
    padding: 0;
}
.imgFooter {
    background-size: cover;
    height: 200px;
    width: 200px;
    padding: 3px;
}
.infoFooter {
    color: black;
    flex-direction: row;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 30px;
    font-size: 30px;
    
}